<p style="color: green"><%= notice %></p>

<!-- app/views/livros/index.html.erb -->

<h1>Lista de Livros</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Autor</th>
      <th>Nota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @livros.each do |livro| %>
      <tr>
        <td><%= livro.titulo %></td>
        <td><%= livro.autor %></td>
        <td><%= livro.nota %></td>
        <td><%= link_to 'Mostrar', livro %></td>
        <td><%= link_to 'Editar', edit_livro_path(livro) %></td>
        <td><%= link_to 'Deletar', livro, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Livro', new_livro_path %>
