<h1><%= @livro.titulo %></h1>

<p>
  <strong>Autor:</strong>
  <%= @livro.autor %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @livro.nota %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @livro.descricao %>
</p>

<%= link_to 'Editar', edit_livro_path(@livro) %> |
<%= link_to 'Voltar', livros_path %>
